/*By Hamza Makieh*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(/Images/HardwareLogo-transformed.jpeg);
    background-position: center;
    background-size: cover; 
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.how-it-works-container {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    color: #8EAB12;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    font-size: 1em;
    color: #666;
    text-align: center;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.step-number {
    width: 50px;
    height: 50px;
    background-color: #8EAB12;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin-right: 15px;
    font-weight: bold;
}

.step-content {
    max-width: 700px;
}

.step-content h2 {
    color: #8EAB12;
}

.step-content p {
    font-size: 1em;
    color: #333;
}

@media (max-width: 600px) {
    .step {
        flex-direction: column;
        align-items: center;
    }

    .step-number {
        margin-bottom: 10px;
    }
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    background-color: #8EAB12;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}
  
.back-button:hover {
    background-color: #8EAB12;
    transform: scale(1.05);
}